@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --corBackGroundBody: #1E232E;
    --corBackGroundHeader: #287A70;
    --corBackGroundTercerario:
    /* FONTES */
    --fontePrincipal:  normal normal 2.7vh 'Ubuntu', sans-serif;
    --corFontes: aliceblue;
    --corFonteLink: aliceblue;
     /* sub classes */
    --corHouverLinks: #191d25;
    --corFocuosDoInput: red;
     /* SOMBRAS */
    --sombras: 5px 5px 5px #1f381539;
    --sombraIframes: 2px 2px 20px  #1c5f575f;
}

*{
    margin: 0px;
}
body{
    background-color:var(--corBackGroundBody); 
    font: var(--fontePrincipal);
    text-align: center;
    color: var(--corFontes);
}
header{
    background-color:var(--corBackGroundHeader);
    height: 90px;
    width: 98vw;
    margin: 0px;
    border-radius: 10px;
    padding: 0px;
}
header img{
    height: 75px;
    width: 170px;
    position: absolute;
    left: 30px;
    top: 1px;
    margin-left: 40px;
}
button img{
   height: 50px;
   width: 50px;
    position: absolute;
    top: 25px;
    left: 72vw;
}
nav{
    background-color:var(--corBackGroundHeader);
    height: auto;
    width:  150px;
    margin-left: 50px;
    position: relative;
    align-self: flex-end;
    border-radius: 0px 0px 50px 50px;
    position: absolute;
    border: 1px dash black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.153);
    
}

label{
    margin: 0px;
}
img{
    height: 25px;
    width: 30px;
    margin: auto;
}

ul{
    padding: 5px;
    margin: 0px;
    list-style: none;
    border-radius: 0px 0px 20px 20px;
    display: none;
    
   
}
nav:hover ul{
    display: block;
}
   
 
li{
    margin: 7px;
    text-shadow: var(--sombras)
    
}
li a{
    font-size: 2.8vh;
    text-decoration: none;
    color: var(--corFonteLink);
}
li a:hover{
    color: var(--corHouverLinks);
}
main{
    margin: auto;
    width: 90vw;
}
#bordarPlayer{
    margin-bottom: 20px;
}
.bordarPlayerFechada{
    display: none;
}
.bordarPlayerAberta{
    display:block;
}
h2{
    font-size: 3vh;
    margin:45px 15px 15px 15px;
}

input:focus{
    color: var(--corFocuosDoInput);
}
button{
    background-color: var(--corBackGroundHeader);
    color: var(--fontePrincipal);
    border-radius: 50px;
    border: none;
    margin-left: 2px;
}

div button:hover{
    font-size: medium;
    box-shadow: var(--sombras)
}
iframe:hover{

    box-shadow: var(--sombraIframes)
}
article{
    margin: 20px;
    background-color:var(--corBackGroundTercerario);
    padding: 0px;
    border-radius: 50px;
    margin-top: 20px;
}
.configVideo{
    max-width: 70vw;
    max-height: 60vh;
    margin: 20px;    
}