@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color:#22272E ;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    text-align: center;

}
header{
    background-color:#6cc644;
    height: 40px;
    width: auto;
    margin: 0px;
    border-radius: 10px;
}
#iconTitle{
    height: 45px;
    width: 75px;
    margin: 0px 20px 8px 550px;
    
}
img{
    height: 25px;
    width: 35px;
    margin-right: 950px;
   margin-top: 3px;
   margin-left: 50px;
   margin-bottom: 5px;
}

img:hover{
    background-color:#539835;
    padding: 2px;
}

ul{
    background-color:#6cc644;
    height: auto;
    width: 170px;
    padding-left: 0px;
    padding-top: 5px;
    margin: 0px;
    list-style: none;
    border-radius: 0px 0px 20px 20px;
    display: none;
}
li{
    margin: 7px;

}
li a{
    text-decoration: none;
    color: aliceblue;
}
li a:hover{
    color: #0e3622;
}
img:hover ul{
    display: block;
}

main{
    margin: auto;
}
h2{
    margin:15px 15px;
}
input:focus{
    color: red;
}
button{
    background-color: #6cc644;
    color: #f6f6f6;
    border-radius: 50px;
    border: none;

}
button:hover{
    font-size: large;
    background-color: #6cc644;
    box-shadow: 5px 5px 5px #1a387321;
}
iframe:hover{
    box-shadow: 5px 5px 5px  #000000c8;
    height: 320px;
    width: 580px;
}
article{
    margin: 20px;
}
.configVideo{
    margin: 20px;
    background-color: #0e3622;
    
}
