@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
}
body{
    background-color:#22272E ;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    text-align: center;

}
header{
    background-color:#6cc644;
    height: 90px;
    width: 98vw;
    margin: 0px;
    border-radius: 10px;
    padding: 0px;
}
header img{
    height: 80px;
    width: 115px;
    position: absolute;
    left: 33px;
    top: 7px;
    margin-left: 40px;
}
nav{
    background-color:#6cc644;
    height: auto;
    width:  150px;
    margin-left: 50px;
    position: relative;
    align-self: flex-end;
    border-radius: 0px 0px 50px 50px;
    position: absolute;
}

label{
    margin: 0px;
}
img{
    height: 25px;
    width: 30px;
    margin: auto;
}

ul{
    padding: 5px;
    margin: 0px;
    list-style: none;
    border-radius: 0px 0px 20px 20px;
    display: none;
    
}
nav:hover ul{
    display: block;
}
li{
    margin: 7px;
}
li a{
    text-decoration: none;
    color: aliceblue;
}
li a:hover{
    color: #1bff8d;
}
main{
    margin: auto;
    width: 90vw;
}
h2{
    margin:30px 15px 15px 15px;
}

input:focus{
    color: red;
}
button{
    background-color: #6cc644;
    color: #f6f6f6;
    border-radius: 50px;
    border: none;

}

button:hover{
    font-size: medium;
    box-shadow: 2px 2px 2px #1a387321;
}
iframe:hover{

    box-shadow: 2px 2px 1px  #6bc64451;
}
article{
    margin: 20px;
}
.configVideo{
    max-width: 70vw;
    max-height: 60vh;
    margin: 20px;
    background-color: #0e3622;
    
}

