@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Bebas+Neue&family=Rubik+Glitch&display=swap');

body{
    font-family: 'BIZ UDPMincho', serif;
    font-weight: 400;
    font-size: 26px;
    color:rgb(255, 255, 255);
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background: #2a0321;
    margin-top: 0%;
    padding: 0%;
    
}

.cabecalho{
display: flex;
align-items: flex-end;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-end;
}
.cabecalho h1{
    font-family: 'Rubik Glitch', cursive;
    font-weight: 400;
    font-size: 48px;
    color: #fbb4ea;
    margin-bottom: 0%;

}
.cabecalho h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 12px;
    color:#b589ab;
    margin-top: 0%;
}
.container{
    background-color: #000000;
    padding-bottom: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bordarPlayer{
    background-color: #4f1041;
    margin-top: 15px;
    padding: 5%;
    border-radius: 25%;
}
.bordarPlayer h3{
    font-size: 36px;
}
.videos{
    margin-top: 5%;
    
}
.configVideo{
    margin-right: 10px;
}